.W\(400px\) {
  width: 400px;
}
.H\(200px\) {
  height: 200px;
}
.Lh\(200px\) {
  line-height: 200px;
}
.Bgc\(\#ccc\) {
  background-color: #ccc;
}
.Bgc\(\#cdc\)\:h:hover {
  background-color: #cdc;
}
.Ta\(c\) {
  text-align: center;
}
.C\(\#fff\) {
  color: #fff;
}
.Tstk\(1px\,\#000\) {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.foo:hover .foo\:h_Tstk\(1px\,\#060\) {
  text-shadow: -1px -1px 0 #060, 1px -1px 0 #060, -1px 1px 0 #060,
    1px 1px 0 #060;
}
.Fz\(64px\) {
  font-size: 64px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Lh\(1\.5\) {
  line-height: 1.5;
}
.LineClamp\(2\,54px\) {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 54px;
  display: -webkit-box;
  overflow: hidden;
}
@supports (display: -moz-box):  {
  .LineClamp\(2\,54px\) {
    display: block;
  }
}
.LineClamp\(2\,54px\):not(:not(a)) {
  display: inline-block;
  display: -webkit-box;
  *display: inline;
  zoom: 1;
}
.LineClamp\(2\,54px\):not(:not(a))::after {
  content: ".";
  font-size: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
